.wind {
  position: absolute;
  height: 30px;
  width: auto;
  overflow: visible;
  pointer-events: none;
  mix-blend-mode: overlay;
}

.wind span {
  position: absolute;
  height: 22px;
  width: 2px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(30, 144, 255, 0.6);
  background-image: linear-gradient(
    to top,
    rgba(20, 128, 254, 0),
    rgba(20, 128, 254, 0.5) 40%,
    rgba(20, 128, 254, 0.95) 100%
  );
  /* background-image: linear-gradient(
    to top,
    rgba(92, 163, 248, 0.01),
    rgba(74, 156, 253, 0.2),
    rgb(20, 128, 254)
  ); */

  animation: wind_animation infinite linear;
  animation-fill-mode: both;
}

@keyframes wind_animation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}
/* @keyframes wind_animation {
  0% {
    transform: translate(0, 20%) rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(2px, -120%) rotate(2deg);
    opacity: 0;
  }
} */
